:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --tittle-text-color: #ffffff;
  --accent-color: #2196f3;
  --primary-background-color: #ffffff;
  --primary-section-color: #2f303a;
  --secondary-section-color: #f5f4fa;
  --footer-address-color: rgba(255, 255, 255, 0.6);
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
}

/* Container */

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Section */

.section {
  padding: 94px 0;
}

/* Header */

.header {
  background-color: var(--primary-background-color);
  border-bottom: 1px solid #ececec;
}

.header__inner {
  color: var(--primary-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}

.header__logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.list {
  list-style: none;
}

.nav__link {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.header__address {
  color: var(--secondary-text-color);
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  font-style: normal;
  text-decoration: none;
}

.nav__link:hover,
.header__address:hover {
  color: var(--accent-color);
}

.nav__link:focus,
.header__address:focus {
  color: var(--accent-color);
}

.current {
  color: var(--accent-color);
}

/* Hero */

.hero {
  background-color: var(--primary-section-color);
}

.hero__title {
  color: var(--tittle-text-color);
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Buttons */

.hero__btn {
  background-color: var(--accent-color);
  color: var(--tittle-text-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border: 0;
  border-radius: 4px;
  align-items: center;
  text-align: center;
  cursor: pointer;
}

.filter__btn {
  background-color: var(--secondary-section-color);
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.62;
  border: 0;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
}

.filter__btn:hover {
  background-color: var(--accent-color);
  color: var(--tittle-text-color);
}

.filter__btn:focus {
  background-color: var(--accent-color);
  color: var(--tittle-text-color);
}

/* Specials */

.title__hidden {
  visibility: hidden;
}

.specials__title {
  color: var(--primary-text-color);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
}

.specials__text {
  color: var(--secondary-text-color);
  font-size: 14px;
  line-height: 1.71;
}

/* Specialist */

.section__specialist {
  background-color: var(--secondary-section-color);
}

.specialist__title {
  color: var(--primary-text-color);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.16;
  text-align: center;
}

.specialist__card {
  background-color: var(--primary-background-color);
  border-radius: 0px 0px 4px 4px;
}

.specialist__name {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.18;
  text-align: center;
}

.specialist__info {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
}

/* Filter */

.filter__title {
  color: var(--primary-text-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.06em;
}

.filter__text {
  color: var(--secondary-text-color);
  font-size: 16px;
  line-height: 1.87;
}

/* Footer */

.footer {
  background-color: var(--primary-section-color);
}

.footer__inner {
  color: var(--tittle-text-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}

.footer__logo {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
}

.footer__text {
  color: var(--tittle-text-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
}

.footer__address {
  color: var(--footer-address-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

.footer__address:hover,
.footer__address:focus {
  color: var(--accent-color);
}
